@model TermProject.Models.ShortStoryCommentViewModel

@{ ViewData["Title"] = "Index"; }

@{ if (Model.ShortStoryID != null)
    {
<h1>
    @Html.DisplayFor(model => model.StoryTitle)
</h1>
                <h3 class="storyContent">
                    @Html.DisplayFor(model => model.StoryContent)
                </h3>
                <em>by @Html.DisplayFor(model => model.StoryAuthor)</em>
                <br />
                <a asp-controller="ShortStory" asp-action="Like" asp-route-id="@Model.ShortStoryID">Like</a>
                <a asp-controller="ShortStory" asp-action="Dislike" asp-route-id="@Model.ShortStoryID">Dislike</a>
                <hr />
                <a asp-controller="Comments" asp-action="Create" asp-route-shortStoryID="@Model.ShortStoryID">Add Comment</a> } }
<table class="table">
    <thead>
    <th>Comments</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                by @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislikes)
            </td>
            <td>
                <a asp-action="Like" asp-route-id="@item.ID">Like</a> |
                <a asp-action="Dislike" asp-route-id="@item.ID">Dislike</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <!--
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
    -->
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
