@model IEnumerable<TermProject.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@{
    if (ViewBag.ShortStoryID != null)
            {
                <a asp-controller="Comments" asp-action="Create" asp-route-shortStoryID="@ViewBag.ShortStoryID">Add Comment</a>
            }
}
<table class="table">
    <thead>
        <tr>
            <th>
                In response to story ID:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dislikes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortStoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislikes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
